*{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
}
.container{
    display:flex;
   
    border: 2px solid black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
   padding:20px;
   top:15%;
   left:35%;
   height: auto;
   width: auto;
   background-color: black;
   
    
}
img{
    height:50px;
}
.goBack{
    text-decoration: none;
    
}
h2 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:5px 20px;
    color:white;
    margin-bottom: 14px;

    
}
#formContainer{
    display: flex;
    flex-direction: column;
}
input{
    margin:10px;
    margin-right:0px;
    width: 400px;
    height: 30px;
    background-color:rgb(52, 51, 51);

    padding:5px;
    font-size: 16px;
    color:white;
}

    /* display:none; */
#password{
    width:300px;

}
#verify{
    margin:10px;
    margin-left:0px;
    width: 100px;
    height: 42px;
    background-color:rgb(74, 30, 236);
    font-weight: 700;
    border:none;
    padding:5px;
    font-size: 16px;
    color:rgb(232, 221, 221);
}
#verify:hover{
    transform: scale(0.96);
    background-color:rgb(51, 48, 48);
    color:white;
}
/* .termsConditon {
margin-left:-240px;  
position: relative;
left:-100px;


} */
.termsConditon input{
    height: 15px;
    width:15px;


}
.signbtn{
    width: 140px;
    background-color:rgb(49, 49, 49);
    height: 40px;
    font-size: 20px;
    border:none;
    margin:10px;
    border-radius: 20%;
    font-weight: 630;
    color:white;
    text-align: center;
    margin-left: 140px;
}
.signbtn:hover {
    transform: scale(0.96);
    background-color:greenyellow;
    color:black;
    }

    .logInbtn{
    width: 380px;
    background-color:blue;
    height: 30px;
    font-size: 20px;
    border:none;
    margin:10px;
    border-radius:10px;
    font-weight: 630;
    color:white;
}
.logInbtn:hover {
    transform: scale(0.96);
    background-color:rgb(51, 48, 48);
    color:white;
    }
    .resetpassword{
        font-family: monospace;
        font-size: 14px;
        margin-top:18px;
        cursor:pointer;
    }